.listsItem
    background-color #FFF
    width 100%
    .listsCon
        padding 9px 0 9px 16px
        width @width
        height auto
        font-size 0
        .listPic
            display inline-block
            vertical-align middle
            margin-right 15px
            width 40px
            height 40px
            img
                border-radius 50%
                width 40px
                height 40px
        .listWords
            display inline-block
            vertical-align top
            padding-bottom 10px
            border-bottom 1px solid #E4E4E4
            background url("../../assets/icons/btn_next@2x.png") right 5% top 40% no-repeat
            background-size 6px 12px
            width 84%
            h3
                display inline
                padding-right 40px
                font-size 17px
                color #333333
                &.iconNew
                    background url("../../assets/icons/icon_new@2x.png") right center no-repeat
                    background-size 36px 18px
            p
                margin-top 5px
                font-size 14px
                color #808080
