/*CSS重置 v1.0*/
*
  margin 0
  padding 0
  box-sizing border-box

fieldset, img
  border 0 none

dl, ul, ol, menu, li
  list-style none

a
  color #666
  text-decoration none
  outline 0

aactive, ahover
  text-decoration none

h1, h2, h3, h4, h5, h6, button
  font-family "微软雅黑 Light", sans-serif

button
  outline 0

.clearFixBefore, .clearFixAfter
  content ''
  display block
  clear both

