.sentItem
    width @width
    .sentList
        margin 20px auto
        width 90%
        .listWords
            display inline-block
            vertical-align middle
            width 100%
            .title
                position relative
                padding 8px
                background-color #FFFAEC
                border-top-left-radius 4px
                border-top-right-radius 4px
                width @width
                p
                    padding-right 10%
                    color $color3
                    font-size 12px
                    line-height 16px
                .arrow
                    position absolute
                    right 11px
                    top 20px
                    display block
                    background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcCAYAAABoMT8aAAAAAXNSR0IArs4c6QAAAZ9JREFUOBG9lLFKA0EQhnN7i0/hy1hJwCLYRFAkXO7AQkmhYKFNwE4rCxGTFIopAoL2VlY2voH4BIIgiGDQO78J2WNzdzF7KVxYdnZ2/m9njtnzer1eNY7jiwrD87ydMAzvxHYdaixeRCDzptPp1F3FEqfs4CRJfLLol4EoSZv5Y0BlIUpqRrQ+L8QzN0vakr5kYHwCFXgURQPjy64pQA7mgUwA5oHkAGUhhYAykKkAV8ifABfITMAsiBNAIDy6E97NrthmSJ84Abrdbg3RgKZaMGJZAezPBIwf1jXx2hZjt+jQ07RtM4ejLWlvYlwxUzG3Juy3EJ9J0NQMEEfUfE6M/eRjAAEP8FLEMgozoOZtzuQGW/yNeANxX4Rm5DJAvMfHOjYBsiIcMteazeat7RfbvqGC+DArJuaLuVokFkD6cRAfIT4QpzU+sWukfW/5JsxRCUVNQtSH7/srQRA8TCgyG83N7WyHEfOulKoifszE57aatFu2l4/1xlym5ifbP82Wv/KzOcR+BbjkKhadJtU6JbSxE611u9FovBjgv6y/Bj3vGRMCgLgAAAAASUVORK5CYII=") center no-repeat
                    background-size 6px 12px
                    width 12px
                    height 12px
                .msgDetail
                    background-image url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAQCAYAAADnEwSWAAABc0lEQVQ4ja2TsWpUURRF1z7vEQX/QvAP/ISACBYDFhFEi4BWkRRJFzEMgo02xkZTDAgRnEqbVKlS2aSyzxcEAgERdZyzbTLh5jlO3pu44TT3bvZiH+7VYDC4nplD2zckvQY2+X/q2X4DEBGP68zs274JYPtZRFwD1i9KycyLLEuSPgDVqX+7BtwIWZP0A3javch5kO2qPIy6rvuSjspD2xuXgP0FkjSW9CRGo9Gh7UVJxw3gc1qssw3I9n3bnyMiiIivkm4BJw3gS2DlsiBgCBCF+SAibgPfGiFbkh5JopyuIIBohHypquoO8L1op8x8Czyct9EZbDwe05h9oAf8LH22B5m5lJnls28NmtZsMnuS7kr6VTSsgB1JvdM1dgLNgiFpV9I94Hfhr4GhpFddQZP1MGM+SXoAnO3N9kJmrnUFwfnX+C99lLQsydMu24IAantqRlPvgSvAu3lB0K7ZRNvA6rwggHrKB52lLeAq8KIrCOAPD/oAO2sCwx8AAAAASUVORK5CYII=")
                    background-size 12px 6px
            .content
                padding 14px 8px
                background-color $white
                border 1px solid #D1D1D1
                border-top 0
                border-bottom-left-radius 4px
                border-bottom-right-radius 4px
                width @width
                p
                    font-size 12px
                    color $color7
